{% block add_item_container %}
<section class="main-container-section">
    <ul class="main-row">
        <li class="main-poster">
            <a href="http://127.0.0.1:5000/item/add_item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdi1SF2ow79ejUkxF2Z96HZSIKMIxYYKj2XQ&usqp=CAU" alt="poster" class="poster-img-link">
            </a>
            <a class="poster-text-link" href="http://127.0.0.1:5000/item/add_item">
                Add an item
            </a>
        </li>
    </ul>                
</section>
{% endblock %}