{% block nav_small %}
<nav class="header-nav">
    <div class="header-btn-divs">
        <form class="form-inline" method="POST" action="{{url_for('items')}}">
            <select name="item_category_id" class="select-menu">
                {% for row in categories %}
                    <option value="{{row.0}}">{{row.1}}</option>
                {% endfor  %}
            </select>
            <button type="submit" class="look-btn">Go</button>
        </form>
    </div>
    <div class="header-btn-divs">
        <form class="form-inline" method="get" action="{{url_for('selection_category')}}">
            <button type="submit" class="look-btn">✎</button>
        </form>               
    </div>
</nav>
{% endblock %}
