.forms-container {
    display: flex;
}

.edit-form {
    margin-top: 5em;
    height: 5em;
    display: grid;
    justify-content: center;
    align-items: start;
}

.edit-form *{
    margin: 0.2em;
}

.inner-form-container {
    display: grid;
    width: 25em;
    justify-items: center;
    align-content: center;
    background-color: #1d1e22;
    border-radius: 3em;
    padding: 2em;
    height: 15em;
}

.small-form-inputs {
    width: 4em;
}


.form-small-inputs{
    display: flex;
    width: 200px;
    height: 3em;
    justify-content: space-between;
}



.form-buttons {
    display: flex;
}

.category-select {
    width: 200px;

    padding: 0.6em;
    background-color: #24252A;
    font-size: inherit;
    border-radius: 2em;

}

.delete-category-btn {
    margin: 0.5em 0 0 0;
}

