<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiLib</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/edit.css">
</head>
<body>
    <header class="header-container">
        <nav class="header-nav">
            <div class="header-btn-divs">
                <form class="form-inline" method="POST" action="{{url_for('items')}}">
                    <select name="item_category_id" class="select-menu">
                        {% for row in categories %}
                            <option value="{{row.0}}">{{row.1}}</option>
                        {% endfor  %}
                    </select>
                    <button type="submit" class="look-btn">Go</button>
                </form>
            </div>
            <div class="header-btn-divs">
                <form class="form-inline" method="get" action="{{url_for('selection_category')}}">
                    <button type="submit" class="look-btn">✎</button>
                </form>               
            </div>
        </nav>
        <a class="logo" href="http://127.0.0.1:5000/">MultiLib</a>
        <form class="search-form" method="post" action="http://127.0.0.1:5000/item/search">
            <input class="search-input" type="input-search" id="item_label" name="item_label" placeholder="Find something">
            <button type="submit" class="search-button" >
                <svg viewBox="0 0 1024 1024">
                    <path class="search-svg" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path>
                </svg>
            </button>   
        </form>
    </header>
    <main>
        <main>
            <div class="main-container">
                <form class="edit-form" method="POST" action="http://127.0.0.1:5000/item/adding">
                    <div class="inner-form-container">
                        <div class="form-category selector">
                            <label for="item_label">Category:</label>
                            <select name="item_category_id" class="category-select">
                                {% for row in categories %}
                                    <option value="{{row.0}}">{{row.1}}</option>
                                {% endfor  %}
                            </select>
                        </div>
                        <label for="item_label">Label:</label>
                        <input class="form-inputs" type="text" id="item_label" name="item_label" value="" required>
                        <label for="item_info">Info:</label>
                        <input class="form-inputs" type="text" id="item_info" name="item_info" value="">
                        <label for="item_video_link">Embed video Link:</label>
                        <input class="form-inputs" type="url" id="item_video_link" name="item_video_link" value="">
                        <label for="item_photo_link">Photo Link:</label>
                        <input class="form-inputs" type="url" id="item_photo_link" name="item_photo_link" value="">
                        <div class="form-small-inputs-container">
                            <label for="item_date">Year:</label>
                            <input class="small-form-inputs" type="date" id="item_date" name="item_date" min="1895-01-01" max="2100-01-01" step="1" value="" required/>
                            <label for="item_score">Value:</label>
                            <input class="small-form-inputs" type="number" id="item_score" name="item_score" min="0" max="10" step="0.1" value="" required/>
                        </div>
                        <div class="form-buttons">
                            <button type="submit" class="look-btn">Create</button>
                            <button type="reset" class="look-btn">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
    </main>
</body>
</html>