<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiLib</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/error.css">
    <link rel="stylesheet" href="/static/css/delete.css">
</head>
<body>
    <main>
        <div class="main-container">
            <div class="error-container">
                <h1>Are you sure to delete this item?</h1>
                <div class="forms-container">
                    <form class="form-inline" method="POST" action="http://127.0.0.1:5000/category/deleting/{{delete_id}}">
                        <button type="submit" class="look-btn">Yes</button>
                    </form>
                    <form class="form-inline" method="get" action="http://127.0.0.1:5000/category/delete">
                        <button type="submit" class="look-btn">No</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>