{% include "blocks/head.html" %}
<body>
    <link rel="stylesheet" href="/static/css/edit.css">
    <header class="header-container">
        {% include "blocks/nav_big.html" %}
        {% include "blocks/header_details.html" %}
    </header>
    <main>
        <main>
            <div class="main-container">
                {% for item in items %}
                    <form class="edit-form" method="POST" action="http://127.0.0.1:5000/item/update">
                        <div class="inner-form-container">
                            <div class="form-small-inputs">
                                <div class="small-form-div">
                                    <label for="item_id">Item ID:</label>
                                    <input class="small-form-inputs small-id-form" type="text" id="item_id" name="item_id" value="{{item.0}}" readonly>
                                </div>
                                <div class="small-form-div">
                                    <label for="item_category_id">Category:</label>
                                    <select name="item_category_id" class="category-select">
                                        {% for row in categories %}
                                            {% if item.1 == row.0 %}
                                                <option value="{{row.0}}" selected>{{row.1}}</option>
                                            {% else %}
                                                <option value="{{row.0}}">{{row.1}}</option>
                                            {% endif %}
                                        {% endfor  %}
                                    </select>
                                </div>
                            </div>
                            <label for="item_label">Label:</label>
                            <input class="form-inputs" type="text" id="item_label" name="item_label" value="{{item.2}}" required>
                            <label for="item_info">Info:</label>
                            <input class="form-inputs" type="text" id="item_info" name="item_info" value="{{item.3}}">
                            <label for="item_video_link">Embed video Link:</label>
                            <input class="form-inputs" type="url" id="item_video_link" name="item_video_link" value="{{item.4}}">
                            <label for="item_photo_link">Photo Link:</label>
                            <input class="form-inputs" type="url" id="item_photo_link" name="item_photo_link" value="{{item.5}}">
                            <div class="form-small-inputs-container">
                                <label for="item_date">Year:</label>
                                <input class="small-form-inputs" type="date" id="item_date" name="item_date" min="0001-01-01" max="2100-01-01" step="1" value="{{item.6}}" required/>
                                <label for="item_score">Value:</label>
                                <input class="small-form-inputs" type="number" id="item_score" name="item_score" min="0" max="10" step="0.1" value="{{item.7}}" required/>
                            </div>
                            <div class="form-buttons">
                                <button type="submit" class="look-btn edit-category-btn">Apply</button>
                                <button type="reset" class="look-btn edit-category-btn">Reset</button>
                            </div>
                        </div>
                    </form>
                {% endfor  %}
            </div>
    </main>
</body>
</html>