{% include "blocks/head.html" %}
<body>
    <link rel="stylesheet" href="/static/css/edit.css">
    <header class="header-container">
        {% include "blocks/nav_small.html" %}
        {% include "blocks/header_details.html" %}
    </header>
    <main>
        <main>
            <div class="main-container">
                <form class="edit-form" method="POST" action="http://127.0.0.1:5000/category/update">
                    <div class="inner-form-container">
                        <div class="form-small-inputs">
                            <div class="small-form-div">
                                <label>Old Name:</label>
                                <select name="category-id" class="category-select">
                                    {% for row in categories %}
                                        <option value="{{row.0}}">{{row.1}}</option>
                                    {% endfor  %}
                                </select>
                            </div>
                            <div class="small-form-div">
                                <label>New Name:</label>
                                <input class="category-select" type="text" id="category-label" name="category-label" value="" required>
                            </div>                                
                        </div>
                        <div class="form-buttons">
                            <button type="submit" class="look-btn edit-category-btn">Apply</button>
                            <button type="reset" class="look-btn edit-category-btn">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
    </main>
</body>
</html>