{% include "blocks/head.html" %}
<body>
    <link rel="stylesheet" href="/static/css/error.css">
    <main>
        <div class="main-container">
            <form class="form-inline" method="get" action="http://127.0.0.1:5000/">
                <div class="error-container">
                    <h1>Sorry, Something went wrong</h1>
                    <button type="submit" class="look-btn">Go to Main page</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>