{% include "blocks/head.html" %}
<body>
    <link rel="stylesheet" href="/static/css/selection.css">
    <main>
        <div class="main-container">
            <div class="error-container">
                <h1>What do you want to do with categories?</h1>
                <div class="forms-container">
                    <form class="form-inline" method="POST" action="http://127.0.0.1:5000/category/create">
                        <button type="submit" class="look-btn">Create new</button>
                    </form>
                    <form   class="form-inline" method="get" action="http://127.0.0.1:5000/category/edit">
                        <button type="submit" class="look-btn">Edit existing</button>
                    </form>
                    <form class="form-inline" method="get" action="http://127.0.0.1:5000/category/delete">
                        <button type="submit" class="look-btn">Delete existing</button>
                    </form>
                    <form class="form-inline" method="get" action="http://127.0.0.1:5000/">
                        <button type="submit" class="look-btn">Return main</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>