<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiLib</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header class="header-container">
        <nav>
            <ul class="header-nav">
                <li><a href="http://127.0.0.1:5000/movies" class="header-links">Movies</a></li>
                <li><a href="http://127.0.0.1:5000/serials" class="header-links">Serials</a></li>
                <li><a href="http://127.0.0.1:5000/books" class="header-links">Books</a></li>
                <li><a href="http://127.0.0.1:5000/anime" class="header-links">Anime</a></li>
                <li><a href="http://127.0.0.1:5000/manga" class="header-links">Manga</a></li>
            </ul>
        </nav>
        <a class="logo" href="http://127.0.0.1:5000/">MultiLib</a>
        <form action="http://127.0.0.1:5000/search" role="form-search" id="form">
            <input type="input-search" id="query" name="q"
                placeholder="Find something"
                aria-label="Search through site content">
            <button class="search-button">
            <svg viewBox="0 0 1024 1024"><path class="search-svg" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
            </button>   
        </form>
        <a class="login-lable" href="http://127.0.0.1:5000/profile"><button class="login-button">Profile</button></a>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label>
    </header>
    <main>
        <main>
        <div class="main-container">
        </div>
    </main>
    <footer>
        <nav class="footer-container">
        </nav>       
    </footer>
</body>
</html>