@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Tilt Neon", sans-serif;
    text-decoration: none;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24252A;
    transition: 0.5s;
}



/* CONTAINER */
.container {
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;
}



/* INNER BLOCK */
.block {
    height: 100%;
    background-color: rgb(74, 74, 74);
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.block-item {
    width: 50%;
}


/* BLOCK ELEMENTS */
.block-item {
    text-align: center;
}
.block-item__title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #edf0f1;
    margin-bottom: 10px;
}

.block-item__title:hover {
    color: #0088a9
}

.block-item__btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgba(0, 128, 255, 0.5);
    color: #edf0f1;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
}
.block-item__btn:hover {
    background-color: rgba(0, 128, 255, 1);
}
.signup-btn {
    background-color: rgba(184, 10, 7, 0.5);
}
.signup-btn:hover {
    background-color: rgba(184, 10, 7, 1);
}
/* FORM BOX */
.form-box {
    background: #3d3d3d;
    height: 100%;
    width: 50%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.form-box.active {
    left: 50%;
}




/* FORM */
.form {
    width: 100%;
    padding: 50px;
    font-size: 16px;
    position: absolute;
    transition: 0.5s;
    text-align: center;
}
.form-signin {
    left: 0;
    transition-delay: 0.25s;
}
.form-signup {
    left: 100%;
    transition-delay: 0s;
}
.form-box.active .form-signin {
   left: -100%; 
   transition-delay: 0s;
}
.form-box.active .form-signup {
    left: -0; 
    transition-delay: 0.25s;
 }
.form__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #edf0f1;
}
.form__title:hover {
    color: rgba(0, 128, 255, 1);
}
.form__input {
    width: 100%;
    padding: 10px;
    background-color: #24252A;
    font-size: inherit;
}
.form__btn {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: rgba(0, 128, 255, 0.5);
    color: #edf0f1;
    padding: 10px 50px;
    border-radius: 20px;
}
.form__btn:hover {
    background-color: rgba(0, 128, 255, 1);
}
.form__btn_signup {
    background-color: rgba(255, 40, 25, 0.5);
}
.form__btn_signup:hover {
    background-color: rgba(255, 40, 25, 1);
}
.form__forgot {
    color: #edf0f1;
    font-size: 11px;
    text-decoration: none;
}
.form__forgot:hover {
    text-decoration: underline;
}
.form__input {
    border-radius: 20px;
}
.form__input:hover {
    background-color: #1d1e22;
}
.form-p__button{
    margin-bottom: 0;
}
.form-p__forgot{
    margin-top: 0;
}