body{
    margin: 0;
    padding: 0;
}

.main-container{
    padding-top: 8em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #24252A;
    border-radius: 20px;
}

.search-form-container {
    height: 200px;
    width: 650px;
    font-size: 16px;
    display: grid;
    background-color: #1d1e22;
    justify-content: center;
    justify-items: center;
    position: absolute;
    text-align: center;
    align-content: center;
    border-radius: 2em;
}



/* TITLE */
.search__title {
    font-family: "Tilt Neon", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #edf0f1;
    text-align: center;
    background-color: #1d1e22;
}
.search__title:hover {
    color: rgba(0, 128, 255, 1);
}


/* INPUT */
.search {
    background-color: #1d1e22;
    height: 5em;
    display: flex;
    align-items: center;
}
.search-form__input {
    height: 2.5em;
    padding: 10px;
    background-color: #24252A;
    font-size: inherit;
    border-radius: 2em;
}
.search-field{
    width: 400px;
}
.search-date {
    margin-left: 1em;
}


/* BUTTON */
.search-form_btn {
    font-size: 1.2em;
    padding: 10px 50px;
}


.search-form_btn:hover {
    opacity: 0.9;
}